body {
	font-size: 16px;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.cheetsheet {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	width: 100%;
}

.stamp {
	margin: 0;
	text-align: center;
}

.stamp img {
	width: 170px;
	height: 120px;
}
